<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>Josting</title>
    <link href="../img/main-icon.png" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="/public/css/main.css">

  </head>
  <body class="p-3 m-0 border-0 bd-example text-font">
    <!-- NAV BAR -->
    <%- include('nav.html') %>

    <p>My page</p>
    <p>User Id : <%= user.id %></p>
    <p>User Pw : <%= user.pw %></p>
  </body>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.1.js"></script>

</html>